body{
 font-family: 'Roboto', sans-serif;
 margin: 0;
 padding: 20px;
 background-color: #f4f4f4;
 color: #333333;
}
h1{
 color: #0056b3;
 text-align: center;
 margin-bottom: 20px;
}
h2{
 color: #333333;
 border-bottom: 2px solid #0056b3;

}